doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Туристическое агентство "Dolphin Travel". Путеводитель
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='keywords', content='')
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/guide.css', type='text/css')
        script(type='text/javascript', src='/js/jquery-3.2.0.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
        script(type='text/javascript', src='/js/jquery.bxslider.min.js')
        script(type='text/javascript', src='/js/jquery.easing.1.3.js')
        link(rel='stylesheet', href='/css/jquery.bxslider.css', type='text/css')
    body
        #guide
            include ./modules/header/header
            .content
                .main_cont
                    h1 Прикарпатье
                    p Откройте для себя Прикарпатье, восхитительный регион Западной Украины, который известен на весь мир благодаря целебной воде, которая лечит различные заболевания. Местные минеральные источники не имеют аналогов на Земле. Кроме лечения и отдыха на бальнеологических курортах Прикарпатья, Вы насладитесь чистым воздухом, увидите волшебные пейзажи и получите массу радостных впечатлений. Приезжайте в Прикарпатье. Осуществите отдых своей мечты.
                    .chs_city
                        a.item#trusk_btn(href='#trusk') Трускавец
                        a.item#morshin_btn(href='#morshin') Моршин
                        a.item#shod_btn(href='#shod') Сходница
                    h2#trusk
                        a(href='truskavec.html') Трускавец
                    p Трускавец – уникальный бальнеологический курорт Украины. Он расположен в живописной долине предгорья Восточных Карпат. Это экологически чистая зона, которая окружена грабово-дубово-еловыми лесами. Природным богатством Трускавца является (считается) “Нафтуся”, королева минеральных вод. Она эффективно лечит заболевания печени, почек, желчных путей, нарушения процессов обмена веществ. Благодаря лечебным свойствам “Нафтуси” возвращается здоровье, восстанавливаются жизненные силы. Трускавец конкурирует с известными мировыми курортами : немецким Баден – Баден, французским Виши, чешским Карловы Вары.
                    img(src='/img/guide/trusk.jpg' alt='Туристическое агенство Dolphin Travel. Трускавец')
                    .var_live
                        h2 Варианты жилья
                        h3 Выбирайте жилье - и наслаждайтесь отдыхом
                        .chs_live Выбрать жилье
                    h2#morshin
                        a(href='morshin.html') Моршин
                    p Моршин – один из живописнейших уголков Прикарпатья, маленькая Швейцария на галицкой земле. Он известен уникальными минеральными водами и торфяными лечебными грязями. Благодаря их действию происходит очищение организма, повышается иммунитет, поэтому эффективно лечатся заболевания органов пищеварения, мочевыводящих путей, обмена веществ, периферической нервной системы, суставов, аллергических состояний. По качеству и эффективности лечения Моршин стоит в одном ряду с такими всемирно известными курортами, как Карловы Вары, Висбаден.
                    img(src='/img/guide/trusk.jpg' alt='Туристическое агенство Dolphin Travel. Моршин')
                    .var_live
                        h2 Варианты жилья
                        h3 Выбирайте жилье - и наслаждайтесь отдыхом
                        .chs_live Выбрать жилье
                    h2#shod
                        a(href='shodnitsa.html') Сходница
                    p Сходница – это уникальный климатически-бальнеологический курорт, который находится в живописной местности на северно-восточном склоне Карпат. На территории Сходницы насчитывается 38 источников и более 17 скважин с разнообразным физико-математическим составом. Это в основном минеральные воды типа “Нафтуся”, ”Боржоми”. Во взаимодействии с целебными грязями типа “Мацеста” они лечат почти все болезни. Это наилучший вариант для тех, кому необходимо лечение почек, печени, крови, желудочно-кишечного тракта.
                    img(src='/img/guide/trusk.jpg' alt='Туристическое агенство Dolphin Travel. Сходница')
                    .var_live
                        h2 Варианты жилья
                        h3 Выбирайте жилье - и наслаждайтесь отдыхом
                        .chs_live Выбрать жилье
            include ./modules/footer/footer
        include ./modules/scrollup/scrollup
        script(type='text/javascript', src='/js/script.js')