doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Туристическое агентство "Dolphin Travel". Спецпредложения
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='keywords', content='')
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/special.css', type='text/css')
        script(type='text/javascript', src='/js/jquery-3.2.0.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
        script(type='text/javascript', src='/js/jquery.bxslider.min.js')
        script(type='text/javascript', src='/js/jquery.easing.1.3.js')
        link(rel='stylesheet', href='/css/jquery.bxslider.css', type='text/css')
    body
        #special
            include ./modules/header/header
            .content
                h2 Спецпредложения
                hr
                .special_content
                    .item
                        a(href='#')
                            .img_conteiner
                                img(src='/img/chose_state/truskavec.jpg' alt='Туристическое агенство "Dolphine Travel". Трускавец')
                                .date
                                    i.fa.fa-calendar(aria-hidden='true')
                                    span 23 / 06 / 2015
                            .description
                                .title Акция к 8 марта
                                .text лфываолырвашгрывш выафшрывшгар фывашгрфыва ршвгаы р вапв вапвупфп ываваывпфр раврырарвопыпо параавп авпрв
                            span Просмотреть
                    .item
                        a(href='#')
                            .img_conteiner
                                img(src='/img/chose_state/truskavec.jpg' alt='Туристическое агенство "Dolphine Travel". Трускавец')
                                .date
                                    i.fa.fa-calendar(aria-hidden='true')
                                    span 23 / 06 / 2015
                            .description
                                .title Акция к 8 марта
                                .text лфываолырвашгрывш выафшрывшгар фывашгрфыва ршвгаы р вапв вапвупфп ываваывпфр раврырарвопыпо параавп авпрв
                            span Просмотреть
                    .item
                        a(href='#')
                            .img_conteiner
                                img(src='/img/chose_state/truskavec.jpg' alt='Туристическое агенство "Dolphine Travel". Трускавец')
                                .date
                                    i.fa.fa-calendar(aria-hidden='true')
                                    span 23 / 06 / 2015
                            .description
                                .title Акция к 8 марта
                                .text лфываолырвашгрывш выафшрывшгар фывашгрфыва ршвгаы р вапв вапвупфп ываваывпфр раврырарвопыпо параавп авпрв
                            span Просмотреть
                    .item
                        a(href='#')
                            .img_conteiner
                                img(src='/img/chose_state/truskavec.jpg' alt='Туристическое агенство "Dolphine Travel". Трускавец')
                                .date
                                    i.fa.fa-calendar(aria-hidden='true')
                                    span 23 / 06 / 2015
                            .description
                                .title Акция к 8 марта
                                .text лфываолырвашгрывш выафшрывшгар фывашгрфыва ршвгаы р вапв вапвупфп ываваывпфр раврырарвопыпо параавп авпрв
                            span Просмотреть
                    .item
                        a(href='#')
                            .img_conteiner
                                img(src='/img/chose_state/truskavec.jpg' alt='Туристическое агенство "Dolphine Travel". Трускавец')
                                .date
                                    i.fa.fa-calendar(aria-hidden='true')
                                    span 23 / 06 / 2015
                            .description
                                .title Акция к 8 марта
                                .text лфываолырвашгрывш выафшрывшгар фывашгрфыва ршвгаы р вапв вапвупфп ываваывпфр раврырарвопыпо параавп авпрв
                            span Просмотреть
                    .item
                        a(href='#')
                            .img_conteiner
                                img(src='/img/chose_state/truskavec.jpg' alt='Туристическое агенство "Dolphine Travel". Трускавец')
                                .date
                                    i.fa.fa-calendar(aria-hidden='true')
                                    span 23 / 06 / 2015
                            .description
                                .title Акция к 8 марта
                                .text лфываолырвашгрывш выафшрывшгар фывашгрфыва ршвгаы р вапв вапвупфп ываваывпфр раврырарвопыпо параавп авпрв
                            span Просмотреть
            include ./modules/footer/footer
        include ./modules/scrollup/scrollup
        script(type='text/javascript', src='/js/script.js')