doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Туристическое агентство "Dolphin Travel". Трускавец
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='keywords', content='')
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(href='/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/css/truskavec.css', type='text/css')
        script(type='text/javascript', src='/js/jquery-3.2.0.js')
        script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
        script(type='text/javascript', src='/js/jquery.bxslider.min.js')
        script(type='text/javascript', src='/js/jquery.easing.1.3.js')
        link(rel='stylesheet', href='/css/jquery.bxslider.css', type='text/css')
    body
        #truskavec
            include ./modules/header/header
            .content
                .back
                .main_cont
                    h1 Трускавец
                    p Кроме разнообразных природных достопримечательностей, чистого воздуха, озёр и рек, этот регион славится своими бальнеологическими курортами. Не существует такой болезни, которую не могли бы вылечить местные минеральные источники - недаром уже во времена Австро-Венгерской империи сюда ехали аристократы, чтобы восстановить подорванное здоровье, укрепить организм и просто приятно провести время. Хотите почувствовать себя настоящим состоятельным господином или благородной дамой? Тогда поехали!
                    .fa.fa-angle-down
                    .chs_live
                        a.item#sanatories_btn(href='#sanatories') Санатории
                        a.item#hotel_btn(href='#hotel') Отели
                        a.item#villa_btn(href='#villa') Виллы
                    .variants
                        .item
                            span Отель "Риксос прикарпатье"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/bogdan.jpg')
                                .relax_info
                                    span.price
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Шахтер"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/morshin.jpg')
                                .relax_info
                                    span.price от 480,00 uah/сутки
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Женева"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/shidnitsya.jpg')
                                .relax_info
                                    span.price от 480,00 uah/сутки
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Карпаты"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/truskavec.jpg')
                                .relax_info
                                    span.price
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Шале Грааль"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/bogdan.jpg')
                                .relax_info
                                    span.price
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Женева"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/morshin.jpg')
                                .relax_info
                                    span.price от 480,00 uah/сутки
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Вернигора"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/shidnitsya.jpg')
                                .relax_info
                                    span.price от 480,00 uah/сутки
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Молдова"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/truskavec.jpg')
                                .relax_info
                                    span.price
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                        .item
                            span Санаторий "Весна"
                            a(href='#').img_conteiner
                                img(src='/img/chose_state/truskavec.jpg')
                                .relax_info
                                    span.price
                                    .stars
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                                        i.fa.fa-star-o(aria-hidden='true')
                            .slider_btn
                                a(href='#') Подробнее
                                a(href='#').hidden Бронировать
                    .fa.fa-angle-down
            include ./modules/footer/footer
        include ./modules/scrollup/scrollup
        script(type='text/javascript', src='/js/script.js')