footer
    .mail_big.footer-item
        img(src='/img/footer/mail_big.png' alt='Туристическое агенство "Dolphine Travel". Наша почта, e-mail')
        span info@dolphin-travel.com.ua
    .menu_social.footer-item
        .menu
            a#main.menu-btn(href="index.html") Главная
            a#special.menu-btn(href="special.html") Спецпредложения
            #guide.menu-btn Путеводитель
            #service.menu-btn Услуги
            #contacts-main.menu-btn Контакты
        .social_block
            a(href='https://vk.com/dolphin.travel')
                img(src='/img/social/vk.png' alt='Туристическое агенство "Dolphine Travel". Наша группа Вконтакте')
            a(href='https://www.instagram.com/dolphin_travel_ua/')
                img(src='/img/social/insta.png' alt='Туристическое агенство "Dolphine Travel". Наш Instagram аккаунт')
            a(href='')
                img(src='/img/social/facebook.png' alt='Туристическое агенство "Dolphine Travel". Наш Facebook')
    .phone_big.footer-item
        img(src='/img/footer/phone_big.png' alt='Туристическое агенство "Dolphine Travel". Наш телефон')
        span +38-073-076-1-777
        span +38-067-583-9-721